@model AdministrationData

@{
    ViewData["Title"] = "Administration";
}

<h2>Gestion des bénévoles</h2>

<h3>Administration du site</h3>

<div class="row">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BenevolesCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BenevolesCount)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PointagesCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PointagesCount)
        </dd>
    </dl>
</div>

<h3>Backups de données</h3>

<div class="row">
@if(string.IsNullOrEmpty(Model.BackupFilesError))
{
    <ul>
    @foreach (var backupFile in Model.BackupFiles) {
        <li>
            <a asp-action="DownloadBackupFile" asp-route-name="@backupFile.Name">@backupFile.GetLinkText()</a>
        </li>
    }
    </ul>
}
else
{
    <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
        @Model.BackupFilesError
    </div>
}
</div>

<h3>Fichiers logs</h3>

<div class="row">
@if(string.IsNullOrEmpty(Model.LogFilesError))
{
    <ul>
    @foreach (var backupFile in Model.LogFiles) {
        <li>
            <a asp-action="DownloadLogFile" asp-route-name="@backupFile.Name">@backupFile.GetLinkText()</a>
        </li>
    }
    </ul>
}
else
{
    <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
        @Model.LogFilesError
    </div>
}
</div>