@model dal.models.Centre

@{
    ViewData["Title"] = "Details";
}

<h2>Gestion des centres</h2>

<h3>Détail du centre</h3>

<p>
    <a asp-action="PrintPresenceHoursIndex" asp-controller="Centres" asp-route-id="@Model.ID"><i class="glyphicon glyphicon-print"></i> Editer une fiche de présence</a>
</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID"><i class="glyphicon glyphicon-edit"></i> Modifier</a>
    <a asp-action="Index" class="btn btn-link">Retourner à la liste</a>
</div>
