@model IEnumerable<dal.models.Centre>

@{
    ViewData["Title"] = "Liste";
}

<h2>Gestion des centres</h2>

<p>
    <a asp-action="Create">Créer un nouveau centre</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adresse)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Détails</a> |
                <a asp-action="Edit" asp-route-id="@item.ID"><i class="glyphicon glyphicon-edit"></i> Modifier</a> |
                <a asp-action="Delete" asp-route-id="@item.ID"><i class="glyphicon glyphicon-trash"></i> Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
