@model dal.models.Centre

@{
    ViewData["Title"] = "Mon centre";
}

<h2>Mon centre</h2>

<p>
    <a asp-action="PrintPresenceHoursIndex" asp-controller="Centres" asp-route-id="@Model.ID"><i class="glyphicon glyphicon-print"></i> Editer une fiche de présence</a>
</p>
<div>
    <h4>Centre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>
    </dl>
</div>