@model IEnumerable<dal.models.Frais>

@{
    ViewData["Title"] = "Taux kilométriques";
}

<h2>Taux kilométriques</h2>

@if(!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
<div class="alert alert-danger">
    @ViewBag.ErrorMessage
</div>
}


<form asp-action="Index">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Annee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TauxKilometrique)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Annee)
                    </td>
                    <td>
                        <input type="text" id="frais_@item.Annee" name="frais_@item.Annee" value="@item.TauxKilometrique" class="form-control" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> Modifier</button>
    </div>
</form>