@model BenevoleWithAdresse

@{
    ViewData["Title"] = "Créer";
}

<h2>Gestion des bénévoles</h2>

<h3>Enregistrer une nouvelle adresse pour @Model.Benevole.Nom @Model.Benevole.Prenom</h3>
<hr />
<div class="row">
    <form asp-action="ChangeAddress" asp-route-force="@ViewBag.Force" asp-antiforgery="true" onsubmit="submit();">
        @if (ViewBag.Force)
        {
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <p>Des pointages ont été effectués sur une autre adresse après la date de changement. Cliquez sur <strong>Enregistrer la nouvelle adresse</strong> pour confirmer votre choix.
                    <br/> 
                    Attention : Les pointages concernés seront supprimés ! (Concerne @ViewBag.ImpactedCount pointages)</p>
                </div>
                <div class="form-group" style="float:right">
                    <button type="submit" class="btn btn-success" onclick="submit(); return false;">Enregistrer la nouvelle adresse</button>
                    <a asp-action="Details" asp-route-id="@Model.Benevole.ID" class="btn btn-link">Annuler et retourner à la fiche du bénévole</a>
                </div>
            </div>
        }
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Adresse.BenevoleID" type="hidden" />
        <div class="col-md-6" style="@(ViewBag.Force ? "display:none" : "")">
            <div class="panel panel-default">
                <div class="panel-heading">Adresse &amp; Centre</div>
                <div class="panel-body">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="Adresse.DateChangement" class="control-label required"></label>
                            <input asp-for="Adresse.DateChangement" class="form-control" />
                            <span asp-validation-for="Adresse.DateChangement" class="text-danger"></span>
                        </div>
                        <hr />
                        <fieldset>
                            <div class="form-group">
                                <label asp-for="Adresse.AdresseLigne1" class="control-label required"></label>
                                <input asp-for="Adresse.AdresseLigne1" class="form-control" />
                                <span asp-validation-for="Adresse.AdresseLigne1" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Adresse.AdresseLigne2" class="control-label"></label>
                                <input asp-for="Adresse.AdresseLigne2" class="form-control" />
                                <span asp-validation-for="Adresse.AdresseLigne2" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Adresse.AdresseLigne3" class="control-label"></label>
                                <input asp-for="Adresse.AdresseLigne3" class="form-control" />
                                <span asp-validation-for="Adresse.AdresseLigne3" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Adresse.CodePostal" class="control-label required"></label>
                                <input asp-for="Adresse.CodePostal" class="form-control" />
                                <span asp-validation-for="Adresse.CodePostal" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Adresse.Ville" class="control-label required"></label>
                                <input asp-for="Adresse.Ville" class="form-control" />
                                <span asp-validation-for="Adresse.Ville" class="text-danger"></span>
                            </div>
                            <hr />
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label asp-for="Adresse.CentreID" class="control-label required"></label>
                                <select asp-for="Adresse.CentreID" asp-items="@(new SelectList(ViewBag.Centres, "ID","Nom"))" class="form-control">
                                    <option value="">- Veuillez sélectionner un centre -</option>
                                </select>
                                <span asp-validation-for="Adresse.CentreID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Adresse.DistanceCentre" class="control-label required"></label>
                                <input id="DistanceCentre" asp-for="Adresse.DistanceCentre" class="form-control" onblur="validateDistance();" />
                                <span id="validationDistance" class="text-danger" style="display:none"></span>

                                <div class="alert alert-info">
                                    <p>
                                        <span>Prière d’utiliser <a href="http://www.mappy.fr" target="_blank"><strong>MAPPY</strong></a> afin de déterminer la distance la plus courte A/R du domicile au lieu de bénévolat.</span>
                                    </p>
                                    @* ITINERAIRE PRE REMPLI
                                    <p>
                                        <a href="#" target="_blank" onclick="setMappyUrl(this);"><strong>Cliquez ici</strong></a> pour ouvrir Mappy avec l'itinéraire pré-rempli
                                    </p>*@
                                </div>

                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="form-group" style="float:right">
                <button type="submit" class="btn btn-success" onclick="submit(); return false;">Enregistrer la nouvelle adresse</button>
                <a asp-action="Details" asp-route-id="@Model.Benevole.ID" class="btn btn-link">Retourner à la fiche du bénévole</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        function setMappyUrl(elem) {
            //https://fr.mappy.com/#/4/M2/TItinerary/IFRRue%20de%20Copenhague%2C%2067300%20Schiltigheim|TOPlace%20des%20Halles%2C%2067000%20Strasbourg|MOvoiture|PRcar

            var source = $("#Adresse_AdresseLigne1").val() + " ," + $("#Adresse_CodePostal").val() + " " + $("#Adresse_Ville").val();

            var url = "https://fr.mappy.com/#/4/M2/TItinerary/IFR" + encodeURIComponent(source);
            
            // TODO
            @*url = url + "|TOPlace%20des%20Halles%2C%2067000%20Strasbourg|MOvoiture|PRcar";*@

            elem.href = url;
        }

        function validateDistance() {

            var valDistance = $("#DistanceCentre").val();
            var distance = parseFloat(valDistance.replace(",", ".").replace(".", "!"));

            if (isNaN(distance)) {
                $("#validationDistance").html("Veuillez renseigner un nombre valide");
                $("#validationDistance").show();
                return false;
            } else if (distance < 0) {
                $("#validationDistance").html("La distance doit être supérieure ou égale à zéro");
                $("#validationDistance").show();
                return false;
            } else {
                $("#validationDistance").hide();
                return true;
            }
        }

        function submit() {

            if (!validateDistance())
                return;

            $("form").submit();
        }

    </script>
}
