@model BenevoleWithVehicule

@{
    ViewData["Title"] = "Créer";
}

<h2>Gestion des bénévoles</h2>

<h3>Enregistrer un nouveau véhicule pour @Model.Benevole.Nom @Model.Benevole.Prenom</h3>
<hr />
<div class="row">
    <form asp-action="ChangeVehicule" asp-route-force="@ViewBag.Force" asp-antiforgery="true" onsubmit="submit();">
        @if (ViewBag.Force)
        {
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <p>Des pointages ont été effectués sur un autre véhicule après la date de changement. Cliquez sur <strong>Enregistrer le nouveau véhicule</strong> pour confirmer votre choix.
                    <br/> 
                    Attention : Les pointages concernés seront supprimés ! (Concerne @ViewBag.ImpactedCount pointages)</p>
                </div>
                <div class="form-group" style="float:right">
                    <button type="submit" class="btn btn-success" onclick="submit(); return false;">Enregistrer le nouveau véhicule</button>
                    <a asp-action="Details" asp-route-id="@Model.Benevole.ID" class="btn btn-link">Annuler et retourner à la fiche du bénévole</a>
                </div>
            </div>
        }
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Vehicule.BenevoleID" type="hidden" />
        <div class="col-md-6" style="@(ViewBag.Force ? "display:none" : "")">
            <div class="panel panel-default">
                <div class="panel-heading">Véhicule</div>
                <div class="panel-body">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="Vehicule.DateChangement" class="control-label required"></label>
                            <input asp-for="Vehicule.DateChangement" class="form-control" />
                            <span asp-validation-for="Vehicule.DateChangement" class="text-danger"></span>
                        </div>
                        <hr />
                        <fieldset>
                            <div class="form-group">
                                <label asp-for="Vehicule.NbChevaux" class="control-label required"></label>
                                <input asp-for="Vehicule.NbChevaux" class="form-control" />
                                <span asp-validation-for="Vehicule.NbChevaux" class="text-danger"></span>
                            </div>                           
                            <hr />
                        </fieldset>
                        <div class="form-group" style="float:left">
                            <label asp-for="Vehicule.IsElectric" class="control-label required"></label>
                            <input asp-for="Vehicule.IsElectric" type="checkbox" class="form-control" style="max-height:20px;" />
                            <span asp-validation-for="Vehicule.IsElectric" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="float:right">
                <button type="submit" class="btn btn-success" onclick="submit(); return false;">Enregistrer le nouveau véhicule</button>
                <a asp-action="Details" asp-route-id="@Model.Benevole.ID" class="btn btn-link">Retourner à la fiche du bénévole</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">       

       

    </script>
}
