@model dal.models.Benevole

@{
    ViewData["Title"] = "Supprimer";
}

<h2>Gestion des bénévoles</h2>

<h3>Confirmez-vous la suppression du bénévole suivant ?</h3>

<div class="alert alert-warning">
    <p>
        Note : Tous les pointages effectués pour ce bénévole seront également supprimés.
    </p>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <a asp-action="Details" asp-route-id="@Model.ID" class="btn btn-link">Retourner à la fiche du bénévole</a>
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        
    </form>
</div>
