@model IEnumerable<dal.models.Benevole>

@{
    ViewData["Title"] = "Liste";
}

<h2>Gestion des bénévoles</h2>

<p>
    <a asp-action="Create">Créer un nouveau bénévole</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                Adresse
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            @if(User.IsInRole("SuperAdmin"))
            {
            <th>
                @(Html.DisplayNameFor(model => model.CurrentAdresse.CentreID))
            </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.Raw(item.CurrentAdresse.GetAdresseComplete(true))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            @if (User.IsInRole("SuperAdmin"))
            {
            <td>
                @Html.DisplayFor(modelItem => item.CurrentAdresse.Centre.Nom)
            </td>
            }
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Détails</a>
            </td>
        </tr>
    }
    </tbody>
</table>
