@model dal.models.Adresse

@{
    ViewData["Title"] = "Supprimer";
}

<h2>Gestion des bénévoles</h2>

<h3>Confirmez-vous la suppression de l'adresse suivante ?</h3>

@if (ViewBag.NombrePointages > 0)
{
<div class="alert alert-warning">
    <p>
        Attention : @ViewBag.NombrePointages pointages existent sur cette adresse. <strong>Ils seront supprimés !</strong>
    </p>
</div>
}

@if (Model.IsCurrent)
{
<div class="alert alert-warning">
    <p>
        Attention : Il s'agit de l'adresse actuelle du bénévole !
    </p>
</div>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdresseLigne1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdresseLigne1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdresseLigne2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdresseLigne2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdresseLigne3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdresseLigne3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodePostal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodePostal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Centre.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Centre.Nom)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        <a asp-action="Index" asp-route-idbenevole="@Model.BenevoleID" class="btn btn-link">Retourner à la liste des adresses</a>
    </form>
</div>
