@model PointagesBenevoleModel
@using System.Globalization
@{
    CultureInfo.CurrentCulture = new CultureInfo("fr-FR");
    CultureInfo.CurrentUICulture = new CultureInfo("fr-FR");
}

@{
    Layout = null;
}

<table id="calendar" data-selected-date="" data-selected-id="">
    <thead>
        <tr>
            <th colspan="7" class="month_selector">
                <div>
                    <div style="float:left;display:inline-block">
                        <span>
                            <a href="#" onclick="previousMonth(); return false;">&lt;</a>
                        </span>
                    </div>
                    <div style="display:inline-block">
                        <span>@Model.MonthDate.ToString("MMMM yyyy")</span>
                    </div>
                    <div style="float:right;display:inline-block">
                        <span>
                            <a href="#" onclick="nextMonth(); return false;">&gt;</a>
                        </span>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th>Lun</th>
            <th>Mar</th>
            <th>Mer</th>
            <th>Jeu</th>
            <th>Ven</th>
            <th>Sam</th>
            <th>Dim</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var row in Model.CalendarRows)
    {
        <tr>
        @foreach (var item in row.Items)
        {
            <td data-date="@item.Date.ToString("yyyy-MM-dd")" data-id="@((item.Pointage != null) ? item.Pointage.ID.ToString() : "")" class="pointage @item.GetPointageCssClass()" onclick="selectDate(this)">
                <div>
                    <span class="calendarday @item.GetDayTextCssClass()" title="@item.GetTitle()">@item.Date.Day</span>
                </div>
            </td>
        }
        </tr>
    }
    </tbody>
</table>
