@model dal.models.Pointage

@{
    Layout = null;
}


<div id="detailPanel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Journée du <strong>@Model.Date.ToString("d")</strong> - Centre de @Model.Adresse.Centre.Nom (@Model.Adresse.DistanceCentre km A/R)</h3>
        </div>
        <div class="panel-body">
            @if (!ViewBag.DisabledForCenter)
            {
            <form asp-antiforgery="true" asp-action="EditOrCreate">
                <div class="form-group">
                    <div class="col-xs-12">
                        <fieldset>
                            @if(Model.Adresse.DistanceCentre > 0) 
                            {
                            <div class="alert alert-warning">
                                <p>
                                    <span>Chaque aller-retour sera comptabilisé comme une demi journée pour le calcul des fiches de présences</span>
                                </p>
                            </div>
                            }
                            <div class="col-sm-6">
                                @if(Model.Adresse.DistanceCentre > 0)
                                { 
                                <label class="control-label">Nombre d'allers-retours :</label>
                                }
                                else
                                {
                                <label class="control-label">Nombre de demi journées :</label>
                                }
                            </div>
                            <div class="col-sm-6" style="margin-top:-10px">
                                <input asp-for="NbDemiJournees" type="hidden" />
                                <div class="radio">
                                    <label><input id="NbDemiJournees1" name="RadioNbDemiJournees" type="radio" value="1" /> 1 (@(Model.Adresse.DistanceCentre) km)</label>
                                </div>
                                <div class="radio">
                                    <label><input id="NbDemiJournees2" name="RadioNbDemiJournees" type="radio" value="2" /> 2 (@(Model.Adresse.DistanceCentre * 2) km)</label>
                                </div>
                                <span asp-validation-for="NbDemiJournees" class="text-danger"></span>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-xs-12" style="margin-top:8px">
                        <fieldset>
                            <div style="float:right">
                                <button type="submit" class="btn btn-success" onclick="editOrCreate(); return false;">Pointer</button>
                                <button id="btDelete" type="submit" class="btn btn-danger" onclick="remove(); return false;" style="display:@((Model.ID > 0) ? "inline" : "none")">Supprimer le pointage</button>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </form>
            }
            else
            {
                <div class="alert alert-warning">
                    <p>Le bénévole n'est pas relié à votre centre pour cette date</p>
                </div>
            }
        </div>
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
