@model PointagesBenevoleModel

@{
    ViewData["Title"] = $"Pointages de {Model.Benevole.Prenom} {Model.Benevole.Nom} - {Model.MonthDate.ToString("MMMM yyyy")}";
}


@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<h2>Pointages de @Model.Benevole.Prenom @Model.Benevole.Nom</h2>
<p>
    <a asp-action="PrintIndex" asp-route-id="@Model.Benevole.ID"><i class="glyphicon glyphicon-print"></i> Editer une fiche</a>
</p>
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info">
            <p>Ce calendrier permet de voir les pointages déjà présents</p>
            <p>Pour ajouter, modifier ou supprimer un pointage, cliquez sur la date désirée. Vous pourrez alors voir le détail de la journée et modifier les informations de pointage.</p>
        </div>
    </div>
    <div class="col-lg-6">
        @{await Html.RenderPartialAsync("_BenevoleCalendarContent"); }
    </div>
    <div class="col-lg-6">
        <div id="detailPanel">
        </div>
    </div>
</div>

@section scripts {

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">

    var $selectedTd;
    var _year = @Model.MonthDate.Year;
    var _month = @Model.MonthDate.Month;

    function selectDate(td) {

        if ($selectedTd != null) {
            $selectedTd.removeClass("selected");
            $selectedTd.addClass("unselected");
        }

        $selectedTd = $(td);
        $selectedTd.addClass("selected")
        $selectedTd.removeClass("unselected");

        var id = $selectedTd.attr("data-id");
        var date = $selectedTd.attr("data-date");

        $("#calendar").attr("data-selected-date", date);
        $("#calendar").attr("data-selected-id", id);

        displayDetailPanel();
    }

    function displayDetailPanel() {

        $.ajax({
            url: '@Url.Action("BenevoleEditOrCreate", new { id = Model.Benevole.ID })' + '?id=@Model.Benevole.ID&date=' + encodeURIComponent($("#calendar").attr("data-selected-date")),
            type: 'GET',
            cache: false,
            success: function (data) {
                $('#detailPanel').replaceWith(data);
                $('#detailPanel').show();
                $('input[name=RadioNbDemiJournees][value=' + $("#NbDemiJournees").val() + ']').prop('checked', true);
            },
            error: function (data) {
                alert('Une erreur est apparue pendant le chargement');
            }
        });
    }

    function editOrCreate() {

        var nbDemiJournees = $('input[name=RadioNbDemiJournees]:checked').val();

        var date = $("#calendar").attr("data-selected-date");
        $("#NbDemiJournees").val(nbDemiJournees);

        var dataRequest =
            {
                BenevoleID: @Model.Benevole.ID,
                Date: date,
                NbDemiJournees: nbDemiJournees,
            };

        $.ajax({
            url: '@Url.Action("BenevoleEditOrCreate", new { id = Model.Benevole.ID })',
            data: JSON.stringify(dataRequest),
            headers:
            {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            cache: false,
            success: function (data) {
                $selectedTd.attr("data-id", data.id);
                $("#calendar").attr("data-selected-id", data.id);
                refreshDate(date, nbDemiJournees);
            },
            error: function (data) {
                alert('Une erreur est apparue pendant la mise à jour du pointage');
            }
        });
    }

    function remove() {

        var id = $("#calendar").attr("data-selected-id");
        var date = $("#calendar").attr("data-selected-date");

        $.ajax({
            url: '@Url.Action("Delete")?id=' + id,
            headers:
            {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            type: 'POST',
            cache: false,
            success: function (data) {
                $selectedTd.attr("data-id", null);
                $("#calendar").attr("data-selected-id", null);
                $("#btDelete").hide();
                refreshDate(date, 1);
            },
            error: function (data) {
                alert('Une erreur est apparue pendant la mise à jour du pointage');
            }
        });
    }

    function refreshDate(date, nbDemiJournees) {
        var $td = $("td[data-date='" + date + "']");

        $td.removeClass("none");
        $td.removeClass("half");
        $td.removeClass("full");

        if ($td.attr("data-id") == undefined) {
            $td.addClass("none");
            $("#btDelete").hide();
        } else if (nbDemiJournees == 1) {
            $td.addClass("half");
            $("#btDelete").show();
        } else if (nbDemiJournees == 2) {
            $td.addClass("full");
            $("#btDelete").show();
        }
    }

    function previousMonth() {

        _month--;
        if (_month == 0) {
            _month = 12;
            _year--;
        }

        reloadCalendar();
    }

    function nextMonth() {
        _month++;
        if (_month == 13) {
            _month = 1;
            _year++;
        }

        reloadCalendar();
    }

    function reloadCalendar() {

        $.ajax({
            url: '@Url.Action("Benevole")?id=@Model.Benevole.ID&year=' + _year + '&month=' + _month + '&partial=true',
            type: 'GET',
            dataType: 'html',
            cache: false,
            success: function (data) {
                $('#calendar').replaceWith(data);
                $('#detailPanel').hide();
            },
            error: function (data) {
                alert('Une erreur est apparue pendant le chargement des bénévoles');
            }
        });
    }

</script> 
}