@model IEnumerable<BenevolePointageModel>

@{
    Layout = null;
}

<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BenevoleNom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BenevolePrenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastPointage)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.BenevoleID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.BenevoleID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.BenevoleID">Delete</a>
        </td>
    </tr>
}
</tbody>
