@model PrintIndexModel

@{
    ViewData["Title"] = "Détails";
}

<h2>Edition des fiches d'abandon</h2>

@if(Model.Periods.Count == 0) 
{
<div class="alert alert-warning">
    <p>Aucune fiche n'est disponible pour l'édition. Il est possible qu'aucun pointage du bénévole n'ait été effectué sur cette période</p>
</div>
} else {
<div class="alert alert-info">
    <p>Sélectionnez la fiche que vous souhaitez éditer</p>
</div>

<div>
    <hr />
    <ul>
    @foreach(var period in Model.Periods)
    {
        <li>
            <a asp-action="Print" asp-route-addressId="@period.Adresse.ID" asp-route-period="1" asp-route-year="@period.Start.Year" target="_blank">@period.Start.ToString("MMM") à @period.End.ToString("MMM yyyy") pour l'adresse @period.Adresse.GetAdresseComplete(false)</a>
        </li>
    </ul>
    }
</div>
}