@model PrintIndexModel

@{
    ViewData["Title"] = "Détails";
}

<h2>Edition des fiches d'abandon pour @Model.Benevole.Prenom @Model.Benevole.Nom</h2>

<form asp-action="Index" id="formBareme">

    @if (Model.ListYears != null)
    {
        <label>Sélectionner une année :</label>
        <input type="hidden" id="BenevoleID"  value="@Model.Benevole.ID.ToString()" />
        <select id="selectYear" name="selectYear" class="form-control" style="max-width:300px;">
            <option></option>
            @foreach (var year in Model.ListYears)
            {
                <option value="@year">@year</option>
            }
        </select>
        <hr />
    }

    <div id="TblPeriods"></div>
</form>

@section scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {

            $('#selectYear').on('change', function () {
                var sel = $('select#selectYear option:selected').val();
                var benID = $('input#BenevoleID').val();
                if (sel !== undefined) {
                    getPeriods(sel,benID);
                }

            });


        });

        function getPeriods(Year,benevoleID) {


            console.log(benevoleID);
            $.ajax({
                url: '@Url.Action("GetPeriods")',
                data: { year: Year, benevoleID: benevoleID },
                type: 'POST',
                success: function (data) {
                    $('#TblPeriods').html(data);
                    $('.alert').remove();
                },
                error: function (data) {
                    alert('Une erreur est apparue pendant le chargement des périodes');
                }
            });
        }
    </script>
}


@if (1 == 2)
{
    
    
}
