@model IEnumerable<dal.models.Utilisateur>

@{
    ViewData["Title"] = "Index";
}

<h2>Gestion des utilisateurs</h2>

<p>
    <a asp-action="Create">Créer un nouvel utilisateur</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Login)
                </th>
                <th>
                    Centre géré
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @if (item.Centre == null)
                {
                    <span>Tous les centres (Super Administrateur)</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Centre.Nom)
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Détails</a> |
                <a asp-action="Edit" asp-route-id="@item.ID"><i class="glyphicon glyphicon-edit"></i> Modifier</a> |
                <a asp-action="ChangePassword" asp-route-id="@item.ID"><i class="glyphicon glyphicon-edit"></i> Modifier le mot de passe</a> |
                <a asp-action="Delete" asp-route-id="@item.ID"><i class="glyphicon glyphicon-trash"></i> Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
